.App {
  margin-top: 15px;
}

.avatar{
  padding: 2px;
  left: 22px;
  top: 10px;
  position: relative;
}

.layout{
  height: 100vh;
}

.App .navbar-brand {
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.App .header-line {
  text-align: center;
  display: inline-table;
}

.App-logo {
  height: 28px;
  padding: 2px;
  margin-left: auto;
	margin-right: auto;
	display: inline-block;
}
