.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.App .header-line {
  text-align: center;
  display: inline-table;
}

.App-logo {
  height: 28px;
  padding: 2px;
  margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   // animation: App-logo-spin infinite 20s linear;
//   height: 20vmin;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   0% { box-shadow: 0 0 -10px #c4a30070; }
//   40% { box-shadow: 0 0 20px #c4a300; }
//   60% { box-shadow: 0 0 20px #c4a300; }
//   100% { box-shadow: 0 0 -10px #c4a30070; }
// }
